

		<div class="head">
		<div class="title">ECC</div>
		<div class="btn btn-primary log">登入</div>
		<div class="btn btn-warning new">立即註冊</div>
	    </div>
	    <div class="why">愛上我們的理由</div>
		<div class="why1">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
		<div class="why1photo"><img src="http://fakeimg.pl/600x300/"></div>
		<div class="why2">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
		<div class="why2photo"><img src="http://fakeimg.pl/600x300/"></div>
		<div class="join btn btn-danger">馬上加入我們</div>
	

